{% extends "index.html" %}

{% block script %}
    <script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/messages_zh.js') }}"></script>
    <script>
        $().ready(function () {
            $("#form").validate();
        });
    </script>
{% endblock script %}


{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>

    <style>
        .main {
            width: 500px;
            height: 600px;
            margin: 60px auto 0;
            padding: 50px 30px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 0 8px rgba(0, 0, 0, .1);
            vertical-align: middle;
            display: inline-block;
        }

        .sign-in-button {
            width: 100%;
            padding: 9px 18px;
            font-size: 18px;
            border: none;
            border-radius: 25px;
            color: #fff;
            background: #3db922;
            cursor: pointer;
            outline: none;
            display: block;
            clear: both;
        }

    </style>
{% endblock %}

{% block title %} 创建主题信息 {% endblock title %}

{% block body %}

    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block message %}
        <script>
            function close_flash() {
                var btn = document.getElementById('flash')
                btn.style.display = 'none'
            }
        </script>
        <div class="container" id="flash" style="text-align:center;">
            <div class="row clearfix">
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[1] != 'Please log in to access this page.' %}
                        <div class="alert alert-{{ message[0] }}">
                            <button type="button" class="close" data-dismiss="alert" onclick="close_flash()">&times;
                            </button>
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock message %}

    {% block content %}
        {% if topic_id %}
            <div class="main"
                 style="margin-left:30%;height: 1100px; width: 650px;border-style: outset;vertical-align:top">
        {% else %}
            <div class="main"
                 style="margin-left:30%;height: 720px; width: 650px;border-style: outset;vertical-align:top">
        {% endif %}
    <div style="font-size:30px;">
        <a style="margin-left:40%;color:#ea6f5a;padding: 10px;border-bottom: 2px solid #ea6f5a;">创建主题信息</a>
    </div>
    <div class="col-sm-5">
        <form id="form" method="post" class="form" enctype=multipart/form-data onsubmit="return checkinfo()">
            <div class="form-group" style="color:red;width:370px;margin-top:25%">
                {{ form.topic_name.label(class="control-label", style="color:black") }}
                {{ form.topic_name(required='true',class="form-control", value=topic_name) }}
            </div>
            <div class="form-group" style="color:red;width:370px;margin-top:5%">
                {{ form.filename.label(required, class="form-label", style="color:black", title="好的图片可以引起别人发文的欲望哦...") }}
                {% if topic_id %}
                    <img src="/show_topic_image/topic_{{ topic_id }}"
                         style="margin-top:10%; margin-bottom:10%;width: 400px;height: 270px;">
                {% endif %}
                {{ form.filename(class="form-control", required="false") }}
            </div>
            <div class="form-group" style="color:red;width:370px;margin-top:5%">
                {{ form.topic_id.label(class="form-label", style="color:black") }}
                {{ form.topic_id(required='true',class="form-control") }}
            </div>
            <script type="text/javascript">
                document.getElementById('topic_id').value = "{{ topic_type_id }}";
            </script>
            <div class="form-group" style="color:red;width:370px;margin-top:10%">
                {{ form.topic_info.label(class="form-label", style="color:black") }}
                <textarea class="form-control" style="height:200px;overflow-y:scroll"
                          id="topic_info" name="topic_info"
                          placeholder="仅限于100字以内..."
                          minlength="0" maxlength="100">{{ topic_info }}</textarea>
            </div>

            <div class="form-group" style="margin-left:50%;margin-top:20%">
                {{ form.submit(class="sign-in-button", style="margin-top:20%;width:400px;height:60px;") }}
            </div>
        </form>
    </div>
    </div>
    {% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block content_script %}
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });

        function checkinfo() {
            window.onbeforeunload = null;
            var obj = document.getElementById("filename");
            var len = obj.files.length;
            var text = "";

            Array.prototype.contains = function (obj) {
                var i = this.length;
                while (i--) {
                    if (this[i] === obj) {
                        return true;
                    }
                }
                return false;
            }

            for (var i = 0; i < len; i++) {
                size = obj.files[i].size / 1024 / 1024;
                size = size.toFixed(2);

                var extend = obj.files[i].name.split('.').pop().toLowerCase();

                if (!['png', 'jpg', 'jpeg', "bmp"].contains(extend)) {
                    text += "文件:" + obj.files[i].name + "上传头像失败! (图片允许格式为：png, jpg, jpeg, bmp)。\n"
                }

                if (size >= 4) {
                    text += "文件:" + obj.files[i].name + " ,大小:" + size + "M, 系统最大支持4M。\n";
                }
            }
            if (text.length === 0)
                return true;
            else {
                alert(text);
                return false;
            }
        }
    </script>
{% endblock content_script %}

{% endblock body %}