<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <script>

        if(navigator.geolocation){  //如果浏览器支持获取地理信息
            navigator.geolocation.getCurrentPosition(successCallback,errorCallback);
        }else{
            console.log("您的浏览器不支持地理定位");
        }

        function successCallback(position) {
            console.log("获取地理信息成功");
            var wd = position.coords.latitude;  // 维度
            var jd = position.coords.longitude;  // 经度
            console.log("维度："+wd+"    经度："+jd);  // 可以通过百度地图API和经纬度获取具体信息
        }

        function errorCallback(error) {
            console.log("获取地理信息失败");  //没有给浏览器获取位置权限时，会执行errorCallback
            console.log(error);  // PositionError {code: 1, message: "User denied Geolocation"}
        }

    </script>

</body>
</html>