{% extends "base.html" %}

{% block head %}
    {% block title %}We Book {% endblock %}

    {% block metas %}
        <meta name="baidu-site-verification" content="Yswrm2DNTr"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <link rel="bookmark" href="/static/favicon.ico"/>
        <meta name="description"
              content="WeBook是一个优质的创作社区，在这里，你可以任性地创作，一篇短文、一张照片、一首诗、一幅画……我们相信，每个人都是生活中的艺术家，有着无穷的创造力。"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% endblock metas %}
    {% block styles %}
        <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/static/css/zoomslider.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style-1.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css.map">
        <script type="text/javascript" src="/static/js/modernizr-2.6.2.min.js"></script>
        <style>
            .round_icon {
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin-top: 15px;
            }

            .info {
                margin-top: 5px;
                padding-left: 80px;
                font-size: 14px;
            }

            .user-unfollow-button.off {
                float: right;
                font-size: 15px;
                border: 1px solid hsla(0, 0%, 59%, .6);
                color: #8c8c8c;
                background-color: white;
                text-align: center;
                border-radius: 40px;
                font-weight: 400;
                line-height: normal;
                padding: 8px 0;
                width: 100px;
            }

            .title .name {
                display: inline;
                font-size: 21px;
                font-weight: 700;
                font-family: Georgia, Times New Roman, Times, Songti SC, serif;
                vertical-align: middle;
                margin: -7px 0 4px;
                line-height: 1.5;
            }

            ul .meta-block {
                font-size: 12px;
                margin: 0 3px 6px 0;
                padding: 0 7px 0 0;
                border-right: 1px solid #f0f0f0;
            }

            .li {
                float: left;
                margin-left: 10px;
                list-style-type: none;
            }

            .iconfont {
                font-family: iconfont !important;
                font-size: inherit;
                font-style: normal;
                font-weight: 400 !important;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .user-follow-button.off {
                float: right;
                font-size: 15px;
                color: #fff;
                background-color: #42c02e;
                text-align: center;
                border-radius: 40px;
                font-weight: 400;
                border: 1px solid transparent;
                line-height: normal;
                padding: 8px 0;
                width: 100px;
            }

            .btn-hollow {
                float: right;
                margin: 23px 50px 23px 16px;
                font-size: 15px;
                color: #42c02e !important;
                text-align: center;
                border-radius: 40px;
                font-weight: 400;
                border: 1px solid rgba(59, 194, 29, .7);
                line-height: normal;
                padding: 8px 0;
                width: 100px;
            }

            .line-limit-length {
                width: 34em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .note-list {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .note-list li {
                position: relative;
                width: 100%;
                margin: 0 0 15px;
                padding: 15px 2px 20px 0;
                border-bottom: 1px solid #f0f0f0;
                word-wrap: break-word;
            }

            .note-list li.have-img {
                min-height: 140px;
            }

            .note-list .have-img .wrap-img {
                position: absolute;
                top: 50%;
                margin-top: -60px;
                right: 0;
                width: 125px;
                height: 100px;
            }

            .note-list .title {
                margin: -7px 0 4px;
                display: inherit;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5;
                font-family: Georgia, Times New Roman, Times, Songti SC, serif;
            }

            .note-list .abstract {
                margin: 0 0 8px;
                font-size: 13px;
                line-height: 24px;
                color: #999;
            }

            @font-face {
                font-family: 'Glyphicons Halflings';
                src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot');
                src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
                url('/static/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
                url('/static/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
            }

            .note-list .meta {
                margin-left: 20%;
                padding-right: 0 !important;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }

            .rotate_i {
                display: inline-block;
                line-height: 1;
                transition: .5s ease;
                transition-property: all;
                transition-duration: 0.5s;
                transition-timing-function: ease;
                transition-delay: 0s;
            <!-- 设置转速 -->
            }

            .jsd-meta {
                color: #ea6f5a !important;
            }

            .note-list .title {
                margin: -7px 0 4px;
                display: inherit;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5;
            }

        </style>
    {% endblock styles %}
{% endblock head %}

{% block body %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
    {% block navbar %}
        <div class="demo-inner-content">
            <div class="header-w3-agileits">
                <div class="inner-header-agile">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <h1><a href="{{ url_for('main.index') }}"><span>W</span>e<span>B</span>ook</a>
                            </h1>
                        </div>
                        <!-- navbar-header -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('main.index') }}">首页</a></li>
                                <li><a href="{{ url_for('main.find_file', key=7) }}">发现</a></li>
                                <li><a href="{{ url_for('users.find_user') }}">关注</a></li>
                                <li><a href="{{ url_for('users.topic_manager', key=0) }}">主题攻略</a></li>
                                {% if not current_user.is_anonymous %}
                                    <li style="margin-left:25%"><a
                                            href="{{ url_for('users.information', page=1) }}">消息<span
                                            class="badge pull-right">{% if g.message_nums != None %}
                                        {{ g.message_nums }}{% endif %}</span></a></li>
                                    <li><a href="{{ url_for('main.edit') }}">写文章</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="/show_image/user_{{ current_user.id }}"
                                                 style="width: 45px;height: 45px;">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <li>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="/user_information/{{ current_user.id }}">我的主页</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ url_for('main.show_collect', key=0) }}">收藏的文章</a>
                                                        </li>
                                                        <li><a href="{{ url_for('main.edit_basic') }}">设置</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                                {% else %}
                                    <li style="margin-left:30%"><a href="{{ url_for('main.edit') }}">写文章</a></li>
                                    <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                                    <li><a href="{{ url_for('auth.register') }}"
                                           style="border: 1px solid rgba(236,97,73,.7);border-radius: 20px;width: 80px;text-align:center">注册</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </nav>
                    <hr style="width:100%;color:#000">
                </div>
            </div>
        </div>
    {% endblock navbar %}

    {% block message %}
        <script>
            function close_flash() {
                var btn = document.getElementById('flash');
                btn.style.display = 'none';
            }

            window.rorate = 0
        </script>
        <div class="container" id="flash" style="text-align:center;">
            <div class="row clearfix">
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[1] != 'Please log in to access this page.' %}
                        <div class="alert alert-{{ message[0] }}">
                            <button type="button" class="close" data-dismiss="alert" onclick="close_flash()">&times;
                            </button>
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock message %}
    <script>
        function f2() {
            window.rorate += 360;
            document.getElementById('rotate').setAttribute('style', 'margin-left: 120px;transform: rotate(' + window.rorate + 'deg);');
            $.ajax({
                url: "/get_author_list",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    f3(data);
                }
            });
        }
    </script>
    {% if current_user.is_authenticated %}
    <div style="float: right;margin-top: 5%;margin-right:100px" onclick="f2()">
        <span style="text-align: left;">推荐作者</span>
        <li id='rotate' class="glyphicon glyphicon-refresh rotate_i"
            style="transform: rotate(0deg);margin-left: 120px;"></li>
        <span style="cursor:pointer" id='rotate'>换一批</span>
        <script>f2();</script>
        <ul id="author_list">
        </ul>
    </div>
    {% endif %}
    <div style="width:50%;margin-left: 250px;"> <!-- 如果需要全屏则需要把class=container去掉 -->
        <div id="demo-1"
             data-zs-src='["/static/images/first.jpeg", "/static/images/b.jpeg", "/static/images/c.jpeg","/static/images/d.jpeg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="header-w3-agileits" id="home">
                    <div class="inner-header-agile">
                        <div class="container text-center">
                            <div class="content" style="margin-right: 300px;">
                                <div class="header-text btn">
                                    <h1><span id="head-title" style="color:white"></span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
        <div id="list-container" style="margin-right: 6%;">
            <ur class="note-list" id="note-list">

            </ur>
        </div>
        <script>

            window.num = 1;
            window.page = "get_index_page";
            $.ajax({
                url: "/" + window.page + "?_id=" + window.num,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    f(data);
                }
            });
            $(window).scroll(function () {
                var windowH = $(window).height();//设备可见区域高度
                var documentH = $(document).height();//整个网页的高度（包括未显示的部分）
                var scrollH = $(window).scrollTop();//滚动条滚动上去的高度
                //或者  scrollH = $(document).scrollTop();
                if (windowH + scrollH >= documentH) {
                    $.ajax({
                        url: "/" + window.page + "?_id=" + window.num,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            f(data);
                        }
                    });
                }
            });

            function f1(handler) {
                elems = Array.from(document.getElementsByClassName('songjian'));
                for (index in elems) {
                    if (elems[index].id === handler.id) {
                        elems[index].setAttribute("class", "li active songjian");
                        window.page = "get_" + handler.id;
                        window.num = 1;
                        document.getElementById("note-list").innerHTML = "";
                        $.ajax({
                            url: "/" + window.page + "?_id=" + window.num,
                            type: "POST",
                            dataType: "json",
                            success: function (data) {
                                f(data);
                            }
                        });
                    } else {
                        elems[index].setAttribute("class", "li songjian");
                    }
                }
            }

        </script>
    {% endblock content %}

    {% block content_script %}
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/moment-with-locales.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        {#$('.dropdown-menu', this).stop(true).slideDown("fast");#}
                        $(this).toggleClass('open');
                    },
                    function () {
                        {#$('.dropdown-menu', this).stop(true).slideUp("fast");#}
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
        <script type="text/javascript" src="/static/js/jquery.zoomslider.min.js"></script>
        <script type="text/javascript" src="/static/js/typed.js"></script>
        <script>
            $(function () {
                $("#head-title").typed({
                    strings: ["We^1000", "Book^1000"],
                    typeSpeed: 100,
                    loop: true,
                    startDelay: 100
                });
            });

            function f3(data_list) {
                document.getElementById("author_list").innerHTML = "";
                for (index in data_list) {
                    document.getElementById("author_list").innerHTML += data_list[index] + '<br><br><br>';
                }
            }

            function f(data_list) {
                if (data_list.length === 0) {
                    alert("我也是有底线的！");
                    return 0;
                }
                for (index in data_list) {
                    document.getElementById("note-list").innerHTML += data_list[index]['html'];
                }
                window.num += 1;
                moment.locale("zh_CN");

                function flask_moment_render(elem) {
                    elem.innerHTML = eval('moment("' + elem.dataset.timestamp + '").' + elem.dataset.format + ';');
                    elem.classList.remove('flask-moment');
                    elem.style.display = 'inline';
                }

                function flask_moment_render_all() {
                    elems = Array.from(document.getElementsByClassName('flask-moment'));
                    for (var i = 0; i < elems.length; i++) {
                        elem = elems[i];
                        flask_moment_render(elem);
                        if (elem.dataset.refresh > 0) {
                            setInterval(function () {
                                flask_moment_render(this);
                            }.bind(elem), parseInt(elem.dataset.refresh));
                        }
                    }
                }

                flask_moment_render_all();
            }
        </script>
    {% endblock content_script %}
    {% block footer %}
        <footer style="margin-top: 30%">
            <div class="wrapper footer">
                <ul>
                    <li class="links">
                        <ul>
                            <li><img src="/static/img/record_logo.png" style="float:left; width: 18px; height: 18px;">
                                <a style="color:white" href="http://www.miitbeian.gov.cn">豫ICP备18023119号</a></li>
                            <li><a href="/">目前是正式1.5版本哦. O(∩_∩)O</a></li>
                        </ul>
                    </li>
                    <li class="about" style="float:right">
                        <ul>
                            <li><a href="http://facebook.com" class="facebook" target="_blank"></a></li>
                            <li><a href="http://twitter.com" class="twitter" target="_blank"></a></li>
                            <li><a href="http://plus.google.com" class="google" target="_blank"></a></li>
                            <li><a href="http://www.block1b.cn" class="skype" target="_blank"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>

    {% endblock footer %}
{% endblock body %}
