{% extends "index.html" %}

{% block metas %}
    {{ super() }}
{% endblock metas %}

{% block title %}个人主页{% endblock title %}

{% block styles %}
    {{ super() }}
    <style>
        table {
            /*为表格设置合并边框模型*/
            border-collapse: collapse;
            /*列宽由表格宽度和列宽度设定*/
            table-layout: fixed;
        }

        .round_icon {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .info {
            margin-top: 5px;
            padding-left: 100px;
            font-size: 14px;
        }

        .title .name {
            display: inline;
            font-size: 21px;
            font-weight: 700;
            font-family: Georgia, Times New Roman, Times, Songti SC, serif;
            vertical-align: middle;
            margin: -7px 0 4px;
            line-height: 1.5;
        }

        ul .meta-block {
            font-size: 12px;
            margin: 0 3px 6px 0;
            padding: 0 7px 0 0;
            border-right: 1px solid #f0f0f0;
        }

        .li {
            float: left;
            margin-left: 10px;
            list-style-type: none;
        }

        .iconfont {
            font-family: iconfont !important;
            font-size: inherit;
            font-style: normal;
            font-weight: 400 !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .user-follow-button.off {
            float: right;
            margin: 23px 200px 23px 16px;
            font-size: 15px;
            color: #fff;
            background-color: #42c02e;
            text-align: center;
            border-radius: 40px;
            font-weight: 400;
            border: 1px solid transparent;
            line-height: normal;
            padding: 8px 0;
            width: 100px;
        }

        .user-unfollow-button.off {
            float: right;
            margin: 23px 200px 23px 16px;
            border: 1px solid hsla(0, 0%, 59%, .6);
            font-size: 15px;
            color: #8c8c8c;
            background-color: white;
            text-align: center;
            border-radius: 40px;
            font-weight: 400;
            line-height: normal;
            padding: 8px 0;
            width: 100px;
        }

        .btn-hollow {
            float: right;
            margin: 23px 50px 23px 16px;
            font-size: 15px;
            color: #42c02e !important;
            text-align: center;
            border-radius: 40px;
            font-weight: 400;
            border: 1px solid rgba(59, 194, 29, .7);
            line-height: normal;
            padding: 8px 0;
            width: 100px;
        }

        .active {
            border-bottom: 2px solid #646464;
        }

        .note-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .note-list li {
            position: relative;
            width: 100%;
            margin: 0 0 15px;
            padding: 15px 2px 20px 0;
            border-bottom: 1px solid #f0f0f0;
            word-wrap: break-word;
        }

        .note-list li.have-img {
            min-height: 140px;
        }

        .note-list .have-img .wrap-img {
            position: absolute;
            top: 50%;
            margin-top: -60px;
            right: 0;
            width: 125px;
            height: 100px;
        }

        .note-list .title {
            margin: -7px 0 4px;
            display: inherit;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            font-family: Georgia, Times New Roman, Times, Songti SC, serif;
        }

        .note-list .abstract {
            margin: 0 0 8px;
            font-size: 13px;
            line-height: 24px;
            color: #999;
        }

        .note-list .meta {
            margin-left: 22%;
            padding-right: 0 !important;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
        }

        .jsd-meta {
            color: #ea6f5a !important;
        }

        .note-list .title {
            margin: -7px 0 4px;
            display: inherit;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
        }

        .mask {
            margin: 0;
            padding: 0;
            border: none;
            width: 100%;
            height: 100%;
            background: #333;
            opacity: 0.6;
            filter: alpha(opacity=60);
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }

        .form {
            position: absolute;
            left: 30%;
            background: white;
            width: 700px;
            height: 500px;
            border: 3px solid #444;
            border-radius: 7px;
            z-index: 10000;
            display: none;
        }

        .row1 {
            background: #f7f7f7;
            padding: 0px 20px;
            line-height: 50px;
            height: 50px;
            font-weight: bold;
            color: #666;
            font-size: 20px;
        }

        #_submit {
            color: White;
            background: #4490f7;
            text-decoration: none;
            padding: 10px 95px;
            margin-top: 40px;
            border-radius: 5px;
            opacity: 0.8;
            margin-left: 35%;
            filter: alpha(opacity=80);
        }


        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot');
            src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
            url('/static/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
            url('/static/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }

    </style>
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block message %}
        <script>
            function close_flash() {
                var btn = document.getElementById('flash');
                btn.style.display = 'none';
            }
        </script>
        <div class="container" id="flash" style="text-align:center;margin-top:1%">
            <div class="row clearfix">
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[1] != 'Please log in to access this page.' %}
                        <div class="alert alert-{{ message[0] }}">
                            <button type="button" class="close" data-dismiss="alert" onclick="close_flash()">&times;
                            </button>
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock message %}

    {% block content %}
        <script>
            function begin(self) {
                $("body").append("<div id='mask'></div>");
                $("#mask").addClass("mask").fadeIn("slow");
                $("#form" + self.id).fadeIn("slow");
                var form = document.getElementsByClassName("form");
                for (var f = 0; f < form.length; f++) {
                    if (form[f].id !== "form" + self.id)
                        form[f].style.display = 'none';
                }
            }

            function close_btn(self) {
                $("#" + self).fadeOut("slow");
                $("#mask").css({display: 'none'});
            }
        </script>
        <div style="position: relative;
            margin-bottom: 16px;
            padding: 0 0 16px;
            text-align: left;
            font-size: 15px;
            clear: both;
            word-break: break-word !important;
            word-break: break-all;">
            <div id="user_info" style="float: right;border-bottom: 1px solid rgb(240, 240, 240);margin-right: 150px;margin-bottom: 30px;line-height: 20px;
    font-size: 14px;">
                <div style="margin-bottom: 10px;font-size: 20px;border-bottom: 1px solid rgb(240, 240, 240);color: rgb(150, 150, 150);">个人介绍
                </div>
                <br>
                {{ user.about_me }}
                <li style="list-style-type: none;margin-top: 50px;"><a href="{{ url_for('user.topic_manager', key=user.id) }}"><i class="glyphicon glyphicon-home"></i>他创建的专题</a></li>
                <li style="list-style-type: none"><a href="{{ url_for('main.show_collect', key=user.id) }}"><i class="glyphicon glyphicon-star"></i>他喜欢的文章</a>
                </li>
            </div>
        </div>

        <div id="user_info" class="container">
            <a class="avatar" href="{{ url_for('main.user_information', key=user.id) }}">
                <img src="/show_image/{{ user.id }}" class="round_icon" style="float:left"></a>
            <button data-v-test
                    onclick="{% if not current_user.is_anonymous and user.is_followed_by(current_user) %}
                        window.location.href='/unfollowed_user/{{ user.id }}'" class='off user-unfollow-button'
                    {% else %}
                    window.location.href='/followed_user/{{ user.id }}'" class='off user-follow-button'
                    {% endif %}
            >
            <i data-v-test class="iconfont">
            </i>
            {% if not current_user.is_anonymous and user.is_followed_by(current_user) %}
                <a style="color: #8c8c8c;">取消关注</a>
            {% else %}
                <a style="color: white;">关注</a>
            {% endif %}
            </button>
            <button data-v-test class="btn-hollow" href="#form{{ user.id }}" id={{ user.id }} onclick="begin(this)">
                <i data-v-test class="iconfont">
                </i>
                <a class="span">发私信</a>
            </button>
            <div id="info" class="info">
                <div class="title">
                    <a class="name">{{ user.username }}</a>
                </div>
                <ul>
                    <li class="li">
                        <div class="meta-block">
                            <a href="#"><p>{{ follow }}</p>
                                <i class="iconfont ic-arrow">关注></i>
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="meta-block">
                            <a href="#"><p>{{ fans }}</p>
                                <i class="iconfont ic-arrow">粉丝></i>
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="meta-block">
                            <a href="#"><p>{{ category }}</p>
                                <i class="iconfont ic-arrow">文章</i>
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="meta-block">
                            <a><p>{{ word_count }}</p>
                                <i class="iconfont ic-arrow">字数</i>
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="meta-block">
                            <a><p>{{ collect_num }}</p>
                                <i class="iconfont ic-arrow">喜欢</i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <form action="{{ url_for('user.send_info', key=user.id) }}" class="form" method="post"
              id="form{{ user.id }}" style="display: none;margin-top: 20px;">

            <div class="row1">
                发送私信给{{ user.username }}...
                <a href="#form{{ user.id }}" style="float: right" title="关闭窗口"
                   onclick="close_btn('form{{ user.id }}')">×</a>
            </div>
            <div>
                                        <textarea style="margin-left:7%;width: 600px;height: 300px;" name="text"
                                                  placeholder="发送您的信息吧..."></textarea>
            </div>
            <div class="row">
                <input type="submit" id="_submit" class="submit"/>
            </div>
        </form>
        <ul class="container" data-pjax-container="#list-container">
            <li id="category" onclick="f1(this)" class="songjian active li" style="padding: 10px;"><a href="#" style="padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px;"><i class="iconfont ic-articles"></i> 文章</a>
            </li>
            <li id="dynamics" onclick="f1(this)" class="li songjian" style="padding: 10px;"><a href="#" style="padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px;"><i class="iconfont ic-feed"></i> 动态</a></li>
            <li id="comment" onclick="f1(this)" class="li songjian" style="padding: 10px;"><a href="#" style="padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px;"><i class="iconfont ic-latestcomments"></i>
                最新评论</a></li>
            <li id="hot" class="li songjian" onclick="f1(this)" style="padding: 10px;"><a href="#" style="padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px;"><i class="iconfont ic-hot"></i> 热门</a></li>
        </ul>
        <div id="list-container">
            <ur class="note-list" id="note-list">

            </ur>
        </div>
        <div style="float: right">
            <a href="#" id="toTop" title="点击移动到顶部!"
               style="display: block;bottom: 100px;margin-right: 100px;height: 40px;"><span id="toTopHover"
                                                                                            style="opacity: 0;"></span></a>
        </div>
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/moment-with-locales.min.js"></script>
        <script>

            window.num = 1;
            window.page = "get_category";
            $.ajax({
                url: "/" + window.page + "?key={{ user.id }}&_id=" + window.num,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    console.log('send');
                    f(data);
                }
            });
            $(window).scroll(function () {
                var windowH = $(window).height();//设备可见区域高度
                var documentH = $(document).height();//整个网页的高度（包括未显示的部分）
                var scrollH = $(window).scrollTop();//滚动条滚动上去的高度
                //或者  scrollH = $(document).scrollTop();
                console.log(windowH + scrollH >= documentH);
                if (windowH + scrollH >= documentH) {
                    $.ajax({
                        url: "/" + window.page + "?key={{ user.id }}&_id=" + window.num,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            console.log('send');
                            f(data);
                        }
                    });
                }
            });

            function f1(handler) {
                elems = Array.from(document.getElementsByClassName('songjian'));
                for (index in elems) {
                    if (elems[index].id === handler.id) {
                        elems[index].setAttribute("class", "li active songjian");
                        window.page = "get_" + handler.id;
                        window.num = 1;
                        document.getElementById("note-list").innerHTML = "";
                        $.ajax({
                            url: "/" + window.page + "?key={{ user.id }}&_id=" + window.num,
                            type: "POST",
                            dataType: "json",
                            success: function (data) {
                                console.log('send');
                                f(data);
                            }
                        });
                    } else {
                        elems[index].setAttribute("class", "li songjian");
                    }
                }
            }

        </script>
    {% endblock content %}


    {% block footer %}
        {{ super() }}
    {% endblock footer %}

    {% block content_script %}
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });

            function f(data_list) {
                console.log('get it')
                if (data_list.length === 0) {
                    alert("我也是有底线的！");
                    return 0;
                }
                for (index in data_list) {
                    document.getElementById("note-list").innerHTML += data_list[index]['html'];
                }
                window.num += 1;
                moment.locale("zh_CN");

                function flask_moment_render(elem) {
                    elem.innerHTML = eval('moment("' + elem.dataset.timestamp + '").' + elem.dataset.format + ';');
                    elem.classList.remove('flask-moment');
                    elem.style.display = 'inline';
                }

                function flask_moment_render_all() {
                    elems = Array.from(document.getElementsByClassName('flask-moment'));
                    for (var i = 0; i < elems.length; i++) {
                        elem = elems[i];
                        flask_moment_render(elem);
                        if (elem.dataset.refresh > 0) {
                            setInterval(function () {
                                flask_moment_render(this);
                            }.bind(elem), parseInt(elem.dataset.refresh));
                        }
                    }
                }

                flask_moment_render_all();
            }
        </script>
    {% endblock content_script %}

{% endblock body %}
